################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeesTable/v15/Server/sqlite3
/.vs/EmployeesTable/v15/.suo
